$primary-color: #ff0000;
$dark-color: #111;
$light-color: #ffffff;
$gray-color: #f4f4f4;

$primary:#ff4d4d;
$secondary:#ff7a00;
$dark:#0f172a;
$white:#ffffff;
$gray:#f5f5f5;

$radius:15px;

$transition:.3s;